*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background: white;
  font-family: 'Noto Sans JP', sans-serif;
}
a{
  text-decoration: none;
}
.logo-container img{
  width: 20%;
  margin: 5px;
}

header{
  display: flex;
  width: 90%;
  height: 10vh;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid gray;
}

.logo-container{
    display: flex;
}

.logo-container{
  flex: .5;
}

.logo {
  margin: 15px;
}

nav{
  flex: 1;
}

.nav-links-left{
  justify-content: space-around;
  list-style: none;
  display: flex;
}

.nav-link a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-link a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease, left 0.3s ease 0s;
  width: 0;
}

.nav-link a:hover:after{
  width: 100%;
  left: 0;
}

.nav-links-right{
  justify-content: space-around;
  list-style: none;
  display: flex;
}

.nav-links-right li{
  list-style: none;
  display: inline;
  justify-content: space-around;
}
.nav-link-right a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-links-right{
  flex: 1;
  justify-content: flex-end;
}

.nav-link-right a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";

  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease, left 0.3s ease 0s;
  width: 0;
}

.nav-link-right a:hover:after{
  width: 100%;
  left: 0;
}

.presentation{
  display: flex;
}

.cover img{
  height: 60vh;
}

.banner {
  padding:0 20px;
}

.banner img{
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.feature-container{
  padding: 0 20px;
  align-items: center;
  display: block;
}

.feature-container img{
  display: block;
  margin: 0 auto;
}

.feature-items{
  align-items: center;
}

.categories{
  width: max-content;
  margin: 25px;
  border: 1px black;
  display: inline-block;
}

.item-image{
  height: 200px;
  width: 200px;
  padding: 10px
}

.feature-container li{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.feature-container li:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";

  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease, left 0.3s ease 0s;
  width: 0;
}

.feature-container li:hover:after{
  width: 100%;
  left: 0;
}

.feature-container li{
  list-style: none;
  display: inline;
}

.feature-container img{

}

.feature-container h3{
  display: inline;
  text-align: center;
}

.feature-container h4{
  display: block;
  text-align: center;
}

.categories{
  display: table;
  margin: 0 auto;
}

.categories a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.categories a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease, left 0.3s ease 0s;
  width: 0;
}

.categories a:hover:after{
  width: 100%;
  left: 0;
}

.category-ul ul{
  min-width: 696px;
  list-style: none;
  padding-top: 50px;

}

.category-ul li{
  display: inline;
  margin: 50px;
  padding-top: 100px;
}

.categories h3{
  text-align: center;
}

.categories img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-text h1{
  text-align: center;
  padding-bottom: 5px;
}

.feature-container ul{
  display: flex;
  justify-content: center;
}

.feature-container h3{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-top: 1px solid gray;
}

.feature-items h4{
  color: black;
}
